@import "tailwindcss";

@theme {
  --color-blablacarros-600: #3C35F2;
  --color-blablacarros-400: #4A5FD9;
  --color-blablacarros-cinza: #FBFAFF;
  --color-blablacarros-verde: #9BF2CA;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans text-gray-900;
  }

  h1, h2, h3 {
    @apply font-display font-bold; 
  }
} */